<nav class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>

  <ng-container *ngFor="let page of pages">
    <ng-container *ngIf="page !== '...'">
      <button
        (click)="goToPage(page)"
        [class.active]="currentPage === page"
      >
        {{ page }}
      </button>
    </ng-container>
    <ng-container *ngIf="page === '...'">
      <span class="ellipsis">{{ page }}</span>
    </ng-container>
  </ng-container>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</nav>