<div class="container">
  <a routerLink="/" class="back-btn"><span class="back-arrow">&#8592;</span> Back to Posts</a>

@if (post; as p) {
  <div class="post-details">
    <img [src]="p.imageUrl" class="post-image" [alt]="p.tag + ' image'" />

    <div class="post-content">
      <h3>{{ p.title }}</h3>
      <p>{{ p.body }}</p>
      <span class="tag" [ngClass]="p.tag">{{ p.tag }}</span>

  </div>
  </div>


  <div class="comments">
      <h3>💬 Comments</h3>
      <ul>
        @for (comment of p.comments; track comment.id) {
          <li>{{ comment.body }}</li>
        }
      </ul>
    </div>
}

</div>