//styles.scss

@use '../src/app/styles/variables.scss' as *;
@use '../src/app/styles/mixins.scss' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: $font-family;
   background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}